h1 {
    font-weight:100;
	font-family: "minion pro", Garamond, serif;
	font-size: 48px;
	font-variant: small-caps;
	}
h2 {
    font-weight: 100;
	font-family: "minion pro", Garamond, serif;
	font-size: 36px;
	}
	
h3 {
    font-weight: 100;
    font-family: "minion pro", Garamond, serif;
    font-size: 24px;
	}

h4 {
    font-weight: 100;
    font-family: "minion pro", Garamond, serif;
    font-size: 18px;
	}

p {
    font-family: "minion pro", serif;
    font-size: 14px;
}
	
ul {
	list-style: none;
	font-family: "minion pro", serif;
	font-size: 18px;
	}
	
li {
	font-family: "minion pro", serif;
	font-size: 16px;
	}

.colwrapper {
		position:absolute;
        left: 100px;
        top: 50px;
		clear:both;
		float:left;
		width:80%;			/* width of whole page */
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* common column settings */
	.colright,
	.colmid,
	.colleft {
		float:left;
		width:100%;
		position:relative;
	}
	.col1,
	.col2 {
		float:left;
		position:relative;
		padding:0 0 1em 0;
		overflow:hidden;
	}

    .col2 p {
        font-size: 16px;
    }

	/* 2 Column (left menu) settings */
	.leftmenu {

	}
	.leftmenu .colleft {
		right:75%;			/* right column width */
	}
	.leftmenu .col1 {
		width:71%;			/* right column content width */
		left:102%;			/* 100% plus left column left padding */
	}
	.leftmenu .col2 {
		width:21%;			/* left column content width (column width minus left and right padding) */
		left:6%;			/* (right column left and right padding) plus (left column left padding) */
	}
	/* Footer styles */
	#footer {
		clear:both;
		float:left;
		width:100%;
		border-top:1px solid #000;
	}
	#footer p {
		padding:10px;
		margin:0;
	}

#body p {
    font-family: "baskerville", serif;
    font-size: 14px;
    color:#898A8C;
}

/*#navbar {*/
	/*position: absolute;*/
	/*top: 30px;*/
	/*left: 10px;*/
	/*width: 600px;*/
	/*text-align: left;*/
	/*}*/
/*#navbar li {*/
    /*font-weight: 100;*/
    /*display: inline;*/
    /*padding: 30px;*/
    /*font-size: 20px;*/
    /*font-family: "minion pro", serif;*/
	/*}*/
			
#header {
	position: relative;
	top: 50px;
	}

#content {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 400px;
	}


	
#widecontent {
	position: absolute;
	top: 80px;
	left: 150px;
	width: 800px;
	}
	
#widecontent p {
	font-size: 16px;
	}

#left {
	width: 600px;
	position: absolute;
	}

#topright {
	top: 150px;
	width: 200px;
	position: absolute;
	left: 650px;
	padding: 0px 50px 0px 0px;
	}
	
#topright p {
	font-size: 12px;
	text-align: right;
}
	
#bottomright {
	top: 530px;
	width: 200px;
	position: absolute;
	left: 650px;
	padding: 0px 50px 0px 0px;
	}
	
#dycontainer {
	position: absolute;
	top: 50px;
	width: 600px;
}
	
#everything p {
	position: relative;
	margin: 0px;
	padding: 0px 0px 0px 10px;
	/*top: 50px;
	left: 120px;
	width: 130px;
	height: 100px;*/
	font-size: 96px;
	line-height: -40%;
	font-family: "Minion Pro", serif;
	color:#890606;
}

#has p {
	position: relative;
	margin: 0px;
	/*top: 350px;
	left: 200px;*/
	width: 400px;
	/*height: 200px;*/
	color:#444441;
	font-size: 48px;
	font-family: "Minion Pro", serif;
}

#from p {
	position: relative;
	margin: 25px;
	/*top: 350px;
	left: 200px;*/
	width: 400px;
	/*height: 200px;*/
	font-size: 24px;
	font-family: "Minion Pro", serif;
}

a:link {
		color:#9D9EA2;
		text-decoration:none;
		}      /* unvisited link */
a:visited {
		color:#535E63;
		text-decoration:none;
		}  /* visited link */
a:hover {
		color:#0074A6;
		text-decoration:none;
		}  /* mouse over link */
a:active {
		color:#000000;
		text-decoration:none;
		}  /* selected link */
		
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 19, 2012 01:37:48 AM America/New_York */



@font-face {
    font-family: 'QuattrocentoRomanRegular';
    src: url('http://people.reed.edu/~mlewis/type/Quattrocento-Regular-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quattrocento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quattrocento-Regular-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quattrocento-Regular-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quattrocento-Regular-webfont.svg#QuattrocentoRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'QuicksandLight';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Light-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Light-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Light-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLightOblique';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Light_Oblique-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Light_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Light_Oblique-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Light_Oblique-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Light_Oblique-webfont.svg#QuicksandLightOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBook';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Book-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Book-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Book-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBookOblique';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Book_Oblique-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Book_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Book_Oblique-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Book_Oblique-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Book_Oblique-webfont.svg#QuicksandBookOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBold';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Bold-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Bold-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandBoldOblique';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Bold_Oblique-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Bold_Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Bold_Oblique-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Bold_Oblique-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Bold_Oblique-webfont.svg#QuicksandBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandDash';
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Dash-webfont.eot');
    src: url('http://people.reed.edu/~mlewis/type/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Dash-webfont.woff') format('woff'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Dash-webfont.ttf') format('truetype'),
         url('http://people.reed.edu/~mlewis/type/Quicksand_Dash-webfont.svg#QuicksandDash') format('svg');
    font-weight: normal;
    font-style: normal;

}